<div class="column-layout_4 column">
  <div class="row-layout row"></div>
  <div class="row-layout_1 row">
    <div class="column-layout column"></div>
    <div class="column-layout_1 column">
      <div class="column-layout_5 column">
        <div class="row-layout_2 row">
          <div class="column-layout_2 column">
            <div class="row-layout_5 row">
              <div class="column-layout_3 column"></div>
            </div>
            <div class="row-layout_3 row">
              <p class="text">Ranking</p>
            </div>
            <div class="row-layout_4 row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
